.forgot {
  max-width: 550px;
  margin: 70px auto;
}

.forgot-container {
  padding: 20px;
  box-shadow: 0px 0px 0px 5px rgb(255 255 255 / 40%),
    0px 4px 20px rgb(0 0 0 / 33%);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forgot-head {
}

.forgot-head-title {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

.forgot-head-title h3 {
  color: #1b75bc;
  font-size: 24px;
  font-weight: bold;
}

.forgot-head-description {
  display: flex;
  justify-content: center;
  font-size: 17px;
}

.forgot-body {
  display: flex;
  height: 50px;
  align-items: center;
  margin: 20px 0;
  width: 100%;
  justify-content: center;
}

.forgot-body-label {
  margin-right: 20px;
  font-size: 20px;
}

.forgot-body-input {
  width: 80%;
}

.forgot-body-input input {
  background: #f5f5f5;
  font-size: 16px;
  border-radius: 3px;
  border: none;
  padding: 12px 20px;
  box-shadow: inset 0px 2px 3px rgb(0 0 0 / 10%);
  clear: both;
  width: 100%;
}

.forgot-body-input input[type="text"]:focus {
  background: #fff;
  box-shadow: 0px 0px 0px 3px #4d698d, inset 0px 2px 3px rgba(0, 0, 0, 0.2),
    0px 5px 5px rgba(0, 0, 0, 0.15);
  outline: none;
}

.forgot-btn {
  opacity: 0.7;
}

.forgot-btn:hover {
  opacity: 1;
}

.forgot-btn button {
  padding: 12px 18px;
  background-color: #dda25c;
  border: none;
  cursor: pointer;
}
.forgot-back-login {
  display: flex;
  margin: 20px;
  align-items: center;
}

.forgot-back-login a {
  cursor: pointer;
  font-size: 20px;
  color: #333;
  text-decoration: none;
}

.forgot-back-login:hover a,
.forgot-back-login:hover i {
  color: #1b75bc;
}

.forgot-back-icon {
  font-size: 25px;
  color: #333;
  padding: 0 10px;
  cursor: pointer;
}

.token {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.token > i {
  color: red;
  font-size: 30px;
  font-weight: 700;
  padding-right: 10px;
}

.token > p {
  color: red;
  font-size: 20px;
  font-weight: 700;
}

.forgot-head-send {
  padding: 0 20px;
  font-size: 20px;
  background-color: #b3f9e1;
  color: #1aa776;
}
