.container {
  width: 100%;
  height: 400px;
  position: relative;
  margin: auto;
  overflow: hidden;
}

.carousel {
  margin: 0 auto;
  overflow: hidden;
  height: 100%;
}

.carousel-inner {
  white-space: nowrap;
  transform: translateX(0);
  height: 100%;
}

.carousel-item {
  display: inline-block;
  width: 100%;
  transition: ease 1s;
  height: 100%;
}

.carousel-item img {
  width: 100%;
  height: 100%;
}

.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.carousel-indicator-item {
  width: 15px;
  height: 15px;
  border: none;
  background: #867979;
  opacity: 0.5;
  margin: 0.2em;
  border-radius: 50%;
  cursor: pointer;
}
.active {
  opacity: 1;
}

@media (min-width: 901px) {
  .container {
    max-width: 83.33333%;
  }
}

@media (max-width: 900px) {
  .container {
    display: none;
  }
}